:root {
  /* colors */
  --main-text: #575150;
  --primery-text: #7b6bda;
  --secondary-text: #f2f1f3;

  /* backgrounds color */
  --bg-main: #f2f1f3;
  --bg-brown: #887b79;
  --bg-primery: #7b6bda;
}
